# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# node modules
**/node_modules/

# Firebase cache
.firebase/
firebase-debug.log
.firebaserc

# hosting
/hosting/.env*
hosting/dist/main.js
hosting/dist/index.html

# functions
/functions/dist/
/functions/src/config/**
/functions/.runtimeconfig.json

## IDE setting
.idea

!.gitkeep
